.signup {
  width: 50%;
  background: #ffffff;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}
.signup_container {
  padding: 2em 0;
}

.signup__formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signup__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.signup__title {
  margin: 1em 0;
  font-size: 2rem;
}
.signup__error {
  background-color: #e65757;
  padding: 0.3em 2em;

  color: #ffffff;
}

@media (max-width: 991.98px) {
  .signup {
    width: 100%;
  }
}
