.formSelectMid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 1em;
  width: 100%;
}
.formSelectMid label {
  display: block;
  margin-right: 20px;
  text-align: left;
}

.formSelectMid select {
  width: 80%;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 400;
  text-align: left;
  padding: 10px 20px;

  outline: none;
  cursor: pointer;
}

.formSelectBig {
  display: inline-block;
  margin-top: 1.5em;
  width: 100%;
}
.formSelectBig label {
  display: block;
  width: 100%;
  text-align: left;
}

.formSelectBig select {
  display: block;
  width: auto;
  float: left;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 400;
  text-align: left;
  padding: 10px 0px;
  margin: 10px auto;
  border: none;
  outline: none;
  cursor: pointer;
}
.formSelectColum {
  display: flex;
  flex-direction: column;
}
.formSelectColum select {
  padding: 0.6em;
}
.formSelectColum label {
  margin-bottom: 5px;
}
