.authWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.authWrapper__reg {
  display: flex;
  flex-direction: row;

  background: #ffffff;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}
.authWrapper__wrap {
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}

.authWrapper__formWrapper {
}
.authWrapper__title {
  margin-top: 1em;
  font-size: 2rem;
}
