.productCard__container {
  box-shadow: 2px 2px 10px 1px rgba(74, 74, 74, 0.2);
}
.productCard__img {
  width: 100%;
}

.productCard__detailsTitle {
  color: #f3b26c;
  font-size: 36px;
  font-weight: 700;
}
.productCard__detailsPrice {
  display: flex;
  flex-direction: column;
}

.productCard__detailsPrice span {
  color: #f3b26c;
  font-size: 24px;
  font-weight: bold;
}
.productCard__detailsPrice p {
  font-size: 32px;
  line-height: 1em;
}
.productCard__detailsInfo h2 {
  color: #f3b26c;

  font-size: 24px;
  font-weight: bold;
}
.productCard__detailsInfo div p {
  line-height: 1.5;
}



.productCard__detailsInfo div h3 {
  color: #f3b26c;
  margin: 20px 0 5px 0;
}

.productCard__btnCard {
  margin-top: 5em;
  position: relative;
  text-align: right;
}
