.verticalNav {
  width: 100%;
  height: 100%;
  display: flex;

  flex-direction: column;
}
.menu {
  margin: 2rem 0;
}
.menu ul,
.menu li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu li {
  width: 100%;
  border-bottom: 1px solid #d3d3d3;
}

.menu li :first-child {
  border-top: 1px solid #d3d3d3;
}

.menu a,
.menu span {
  display: block;
  width: 100%;
  padding: 1.2rem;
  font-size: 1.2rem;
  line-height: 1;
  color: black;
  cursor: pointer;
}

.menu a:hover,
.menu span:hover {
  background-color: #f3b26c;
}
