/* .container {
  margin: 0 auto;
  text-align: center;
} */

.cartBtn {
  background-color: #f3b26c;
  border: #f3b26c;
  cursor: pointer;
}
.cartBtn:hover {
  background-color: #ec9538;
}

.cartBtn:focus {
  background-color: #f3b26c;
  box-shadow: none;
}
