.header {
  width: 100%;
  height: 8vh;
  padding: 0.4em 1em;
}

.header__wrap {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 5em;
  width: 100%;
  height: 4rem;
}

.header__cta {
  font-family: 'Francois One', sans-serif;
  font-size: 18px;
  color: #161515;
}

.header__logo {
  width: 10em;

  object-fit: contain;
  object-position: center;
}
img {
  width: 100%;
  height: 100%;
}
