.header {
  background-color: #ffff !important;
}

.header__wrap {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 5em;
  width: 100%;
  height: 4rem;
}

.header__ctas ul {
  display: flex;
  flex-direction: row;
}
.header__ctas li {
  margin-right: 1em;
}

.header__ctas li:last-child {
  margin-right: 0;
}
.header__cta {
  font-size: 18px;
  color: #161515;
  transition: all ease-in-out 150ms;
  cursor: pointer;
}
.header__cta:hover {
  color: #f8b772;
}

.header__logo {
  width: 10em;
  object-fit: contain;
  object-position: center;
}
img {
  width: 100%;
  height: 100%;
}
