.emailPass_formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.emailPass__title {
  margin-top: 1em;
  font-size: 2rem;
}
.emailPass__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.emailPass__exp {
  width: 70%;
  margin: 1em 0 0.5em 0;
}
.emailPass__err {
  width: 100%;
  background-color: #e65757;
  padding: 1em;

  color: #ffffff;
}
