*,
html {
  box-sizing: border-box;
  padding: 0;

  font-weight: 400;
  font-size: 1rem;
  color: #161515;
  scroll-behavior: smooth;
}
.App,
.fullHeight {
  height: 100%;
}

p {
  margin: 0;
}

.main {
  width: 100%;
  max-width: 1450px;
  padding: 0 10px;
  margin: 0 auto;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: black;
}

.adminLayout {
  width: 100%;
  min-width: 100%;
}
.controlPanel {
  width: 100%;

  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #d3d3d3;
}
.sidebar {
  width: 20rem;
  border-right: 1px solid #d3d3d3;
}
.content {
  margin-top: 3rem;
  padding-left: 2em;
}
