.formRow {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 1.5em;
}
.regInput {
  width: 100%;
  margin: 1em 0;
  border: none;
  border-bottom: 1px solid #f6d2ab;
  transition: all ease-in-out 0.4s;
}

.regInput:focus {
  outline: none;
}
.regInput::placeholder {
  font-style: italic;
  color: rgba(0, 0, 0, 0.5);
}
.difInput {
  width: 100%;
  padding: 0.2em;
  margin-top: 10px;
}
.difInput:focus {
  outline: none;
}
.textInput {
  width: 100%;
  height: 100px;
}
.textInput:focus {
  outline: none;
}
